@import './colors.scss';

@mixin box {
  background-color: white;
  padding: 1.5rem;
  border-top: 2px solid $theme-color;
  border-radius: 1%;
  box-shadow: 0px 1px 3px $text-color;
  min-width: 280px;
  max-width: 360px;
}
@mixin box-title {
  text-align: left;
  margin: 0;
  padding: 1rem 0;
  font-weight: normal;
}
@mixin box-submit {
  &:hover {
    background-color: $dark-theme-color;
  }
  border: none;
  padding: 0.5rem 0px;
  background-color: $theme-color;
  font-weight: bold;
  color: white;
  width: 100%;
}
@mixin box-link {
  font-size: 12px;
}
