@import './colors.scss';
@mixin input {
  display: block;
  padding-left: 0.5rem;
  border-radius: 2px;
  border: 1px solid $text-color;
  &::placeholder {
    color: $text-color;
  }
  width: 100%;
  line-height: 1.5rem;
}
@mixin input-error {
  color: $theme-color;
  font-size: 12px;
}
